

.pull-out {
    width: 90%;
    margin-left: 5%;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin-bottom: 20px;
}
.pull-out-buttons {
    height: 100%; 
    width: 200px; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    right: 0;
    overflow-x: hidden; 
    padding-top: 60px;
}
.pull-out {
    line-height: 1.5; /* Adjust as necessary */
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #000000; 
    overflow-x: hidden; 
    transition: 0.5s; 
    padding-top: 60px; 
}

.howToPlayText {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 2px;
    color: white;
    display: block;
    transition: 0.3s;
}

.otherGamesDiv a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    border: 2px solid #FFFFFF;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#BangGames {
    position: absolute;
    z-index: 100;
    width: 10%;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    margin-left: 15px;
}


.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.Purple{
    color: #6441a5;
}

.bigHover {
    transition: transform 0.3s ease;
}
.bigHover:hover {
    transform: scale(1.1);
}
.PlayerArea{
    width: 95vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction:column;
    padding: 10px;
    box-sizing: border-box;
}
.PlayerArea p{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;
    padding: 1px;
    flex: 1 0 3%;
    font-weight: bold;
    max-height: 4.2%;
    min-height: 3.7%;
    min-width: 19.5%;
    max-width: 19.5%;
    white-space: nowrap;
    border: solid 1px black;
    overflow: hidden;
    font-size: 0.78em;
    text-overflow: ellipsis;
}