html {
    min-height:100vh !important;
    height: 100%;
}
body {
    background-color: #e8f8ff; /* Set your desired background color */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrollbars from appearing */
    height: 100%;
}
.PickPlayersButton {
    position: absolute;
    left: 35%;
    font-size: 50px;
    z-index: 2;
}
#Reset{
    margin-right: auto;
    font-size: 50px;
}
.JoinText {
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.bigText {
    font-size: 50px;
    text-align: center;
}
.PlayerArea{
    width: 95vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction:column;
    padding: 10px;
    box-sizing: border-box;
}
.PlayerArea p{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;
    padding: 1px;
    flex: 1 0 3%;
    font-weight: bold;
    max-height: 4.2%;
    min-height: 3.7%;
    min-width: 19.5%;
    max-width: 19.5%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.78em;
    text-overflow: ellipsis;
}

