html {
    min-height:100vh !important;
    height: 100%;
}
body {
    background-color: #e8f8ff; /* Set your desired background color */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrollbars from appearing */
    height: 100%;
}
.PickPlayersButton {
    position: absolute;
    top: 12.5%;
    left: 35%;
    font-size: 50px;
    z-index: 2;
}
.CounterDown {
    position: absolute;
    top: 12.5%;
    left: 45%;
    font-size: 50px;
    z-index: 2;
}
#Reset{
    margin-right: auto;
    font-size: 50px;
}
.JoinText {
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.bigText {
    font-size: 50px;
    text-align: center;
}


